* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 650px;
  min-height: 550px;
  height: auto;
  /* transform: scale(0.9); 
  transform-origin: top left; */
}
td:empty {
  display: none;
}

.welcome-page,
.options {
  padding-top: 50px;
}

.option-btn {
  width: 200px;
  height: 60px;
}

/* .selected{
  background-color: black;
} */
